/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header__card {
  margin-block-start: 100px;
  margin-block-end: 97px;
  padding-block: var(--header-padding-block);
  padding-inline: var(--header-padding-inline);
  gap: 18px;
  text-transform: uppercase;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg-color);
  border: var(--card-border);
  margin-inline: auto;
  inline-size: var(--content-inline-size);
}

.cards-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-block-end: 50px;
}

.accent {
  font-family: var(--accent-font);
}

.header__title {
  font-size: var(--header-title-size);
  font-weight: 400;
}

.header__subtitle {
  font-size: var(--header-subtitle-size);
  font-weight: 400;
}

.card__image-wrapper {
  position: relative;
  inline-size: 100%;
}

.image {
  display: block;
  inline-size: 100%;
  max-block-size: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
  object-fit: cover;
}

.nature-card__image {
  filter: brightness(1.2) contrast(1.3) saturate(1.4);
}

.people-card__image {
  filter: grayscale(0.8);
}

.food-card__image {
  filter: contrast(1.1) brightness(0.9) saturate(1.3) sepia(0.15)
    drop-shadow(0 4px 6px rgba(0, 0, 0, 0.2));
}

.hobby-card__image {
  filter: hue-rotate(-15deg) brightness(1.2);
}

.basket-card__image {
  filter: brightness(0.85) contrast(1.3) blur(0.1rem);
}

.dog-card__image {
  filter: contrast(1.1) saturate(1);
}

.fun-card__image {
  filter: brightness(1.1);
}

.wheel-card__image {
  filter: brightness(1.1);
}

.card__title {
  padding: 4px 10px;
  font-family: var(--main-font);
  font-size: 18px;
  font-variation-settings: "wght" var(--title-text-weight);
}

.card__text {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 117%;
  gap: 25px;
  padding: 25px;
  margin-top: 4px;
}

.card__buttons {
  padding-block-end: 25px;
  padding-inline-end: 25px;
  display: flex;
  justify-content: flex-end;
  gap: 6px;
}

.card__icon-button {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  block-size: 38px;
  inline-size: 38px;
  justify-content: center;
  align-items: center;
}

.like-icon {
  block-size: 36px;
  inline-size: 39px;
  overflow: visible;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid #000;
}

/* Pixel Perfect */
.chasing-ideal__card .card__text {
  margin-top: 5px;
}

.strategies__card .card__text {
  margin-top: 6px;
}

.now-here__card .card__text {
  margin-top: 6px;
}

/* Buttons appearance */
.button {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
  border: 2px solid #000;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 #000;
}

.button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 1;
  pointer-events: none;
}

.button:hover::before {
  transform: translateX(0);
}

.button__text,
.save__icon {
  position: relative;
  z-index: 2;
  color: #fff;
  mix-blend-mode: difference;
  transition: color 0.2s;
}

.button__text {
  font-size: 14px;
  font-family: var(--accent-font);
  line-height: 90%;
}

.card__like-button {
  padding: 9px 17px;
  position: relative;
  inline-size: 130px;
  block-size: 38px;
}

.card__save {
  margin-block-start: 50px;
  display: flex;
  justify-content: center;
}

.save__icon {
  max-width: 21px;
  height: auto;
}

.card__save-button {
  inline-size: 335px;
  block-size: 55px;
  padding-bottom: 2px;
}

/* Label */
.card__label {
  position: absolute;
  top: 27px;
  right: 25px;
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff) {
  .card__label {
    -webkit-text-stroke: 1px var(--label-stroke-color);
    text-stroke: 1px var(--label-stroke-color);
  }
}

@supports not ((-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff)) {
  .card__label {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
      1px 1px 0 #fff;
  }
}

/* Dialog */
.dialog {
  display: none;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog[open] {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  padding: 30px;
  inline-size: 353px;
  block-size: 191px;
  overflow: hidden;
}

.dialog__text {
  grid-column: 2;
  grid-row: 1;
  font-size: 14px;
  font-family: var(--accent-font);
  text-transform: uppercase;
  line-height: 1.5;
  inline-size: 234px;
  block-size: 65px;
}

.dialog__icon {
  margin-block-start: 12px;
}

.dialog__button {
  grid-column: 1 / -1;
  grid-row: 2;
  inline-size: 293px;
  block-size: 38px;
  justify-self: start;
  text-transform: uppercase;
  margin-block-start: 10px;
}

body:has(.dialog[open]) {
  overflow: hidden;
}

/* Heart SVG */
.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.like-icon .sparks {
  opacity: 0;
  fill: var(--animation-fill-color);
}

.like-icon .heart {
  transform-origin: center;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.1s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks-opacity 0.3s ease-in 0.3s;
}

@media (width <=375px) {
  .card__save-button {
    display: grid;
    block-size: 84px;
    inline-size: 306px;
    padding-block-start: 9px;
  }

  .save__icon {
    align-self: center;
    justify-self: center;
    max-width: 28px;
  }

  .dialog__button {
    inline-size: 261px;
  }

  .header__card {
    margin-block-end: 100px;
  }

  .chasing-ideal__card .card__text {
    margin-top: 4px;
  }

  .now-here__card .card__text {
    margin-top: 3px;
  }
}
